@font-face {
    font-family: "Raleway";
    src: url("font/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("font/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("font/Raleway/Raleway-Light.ttf") format("truetype");
    font-weight: 300; /* corresponds to "light" */
    font-style: normal;
}

:root {
    --font-main: "Raleway", sans-serif;
    --color-main: #2c2c2c;

    --bg-main: #ffffff;
    --bg-aside: #dadada;
    --bg-focus: #cf3c3a;
}

body {
    font-family: var(--font-main, sans-serif);
    margin: 0;
    color: var(--color-maintext, black);
    background-color: var(--bg-main, white);
}

pre{
    padding: 10px 15px;
    background-color: #1e3247;
    color: white;
}
code {
    font-family: menlo, inconsolata, monospace;
    font-size: 1.2em;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #03071d;
  }
  
  .hljs-built_in,
  .hljs-selector-tag,
  .hljs-section,
  .hljs-link {
    color: #8be9fd;
  }
  
  .hljs-keyword {
    color: #ff79c6;
  }
  
  .hljs,
  .hljs-subst {
    color: #f8f8f2;
  }
  
  .hljs-title {
    color: #50fa7b;
  }
  
  .hljs-string,
  .hljs-meta,
  .hljs-name,
  .hljs-type,
  .hljs-attr,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-tag,
  .hljs-template-variable {
    color: #f1fa8c;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-deletion {
    color: #6272a4;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-title,
  .hljs-section,
  .hljs-doctag,
  .hljs-type,
  .hljs-name,
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #bd93f9;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }